body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}




@mixin shane-radius($radius, $width, $color) {
    border-radius: $radius;
    border: 3px solid black;
    background-color: $color;
    width: $width;
    height: 100px;
    margin-top: 40px;

}




.box-two { 
 @include shane-radius(10px, 200px, green);
}






@mixin how-big {
width: 100px;
height: 200px;
background-color: black;
border: 1px solid green;
}

.box {
@include how-big
}







.box-three {
     @include how-big    
}



// MIXIN ONE

@mixin submit-button {
    color: white;
    border: 1px #b98100;
    font-size: 13px;
    text-align: center;
    position: relative;
    width: 100px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px white;
    border: 1px solid #1A1712;

    background: #a5a5a5; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #a5a5a5 12%, #3f3e3d 100%, #3f3e3d 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(12%,#a5a5a5), color-stop(100%,#3f3e3d), color-stop(100%,#3f3e3d)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #a5a5a5 12%,#3f3e3d 100%,#3f3e3d 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #a5a5a5 12%,#3f3e3d 100%,#3f3e3d 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #a5a5a5 12%,#3f3e3d 100%,#3f3e3d 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #a5a5a5 12%,#3f3e3d 100%,#3f3e3d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#3f3e3d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    &:hover {
        color: blue;
        box-shadow: 0 1px 1px black;
    }

}

.submit {
    width: 252px;
    margin: 50px auto;
}

.submit-one {
    @include submit-button;
    display: inline-block;

}
.submit-two {
    margin-left: 20px;
    @include submit-button;
    display: inline-block;
}


// MIXIN TWO 


@mixin header-links {
    color: white;
    text-shadow: rgb(216, 169, 0) 0 1px;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

li {
    margin: 5px;
}
.header {
    width: 252px;
    margin: 50px auto;
    background-color: black;
    width: 300px;
    height: 145px;
    @include header-links;

}

.background-two {
    margin: 50px auto;
    margin-top: 40px;
    height: 300px;
    width: 600px;
    background-color: gray;
}


@mixin headings ($color) {
    color: $color;
    font-size: 16px;
    text-shadow: rgb(42, 38, 38) 0 1px;


}

.heading {
    @include headings (orange);
}

.heading-two {
    @include headings (green);
}

.heading-three {
    @include headings (blue);
}




p {
    color: white;
    font-size: 12px;
}

















